$default-font: "Montserrat", sans-serif;
$text-gray: #7d7e93;
$border: #b8cadc;
$text: #262d35;
$border: #cacbd4;
$border-input: #8f939a;
$bg-btn: #3389f7;
$accent: #87c900;
$title: #11143b;
$custom-white: #f2f5fa;
$link: #005aad;

$tablet-width: 767px;
$mid-width: 991px;
$max-width: 1199px;

